

body {
	text-align: center;
}

.h1{
 color: purple;
}


#one  {

	text-align: right;
}
#one a {
	word-spacing: 10px;
}


form{
		padding: 3%;

}

















